<md-card>
  <md-card-content>
    <i class="fa fa-thumbs-o-up" aria-hidden="true" ng-click="like(resource.id)"></i>
    <h5>{{ resource.likes }}</h5>
    <i class="fa fa-thumbs-o-down" aria-hidden="true" ng-click="dislike(resource.id)"></i>
    <h5>{{ resource.dislikes }}</h5>
    <h2>
      <a href="{{ resource.link }}" target="_blank">{{ resource.title }}</a>
    </h2>
    <h4 ng-click="searchByAuthor(resource.author)">{{ resource.author }}</h4>
    <h4 ng-click="searchBySource(resource.source)">{{ resource.source }}</h4>
    <div layout="row">
      <md-chips ng-repeat="tag in resource.tags">
        <md-chip ng-click="searchByTag(tag.id)">{{ tag.title }}</md-chip>
      </md-chips>
    </div>
  </md-card-content>
</md-card>
