<div layout-gt-sm="row" layout-sm="column" layout-padding layout-margin>

    <div layout="column" flex>

      <div ng-if="loaded">
        <div ng-hide="noTags">
          <h3 class="header">Recommended Resources:</h3>
          <md-content>
            <resource-card ng-repeat="resource in resources"></resource-card>
          </md-content>
        </div>
        <div ng-show="noTags">
          <h3>Add topics to your profile to get recommended resources!</h3>
        </div>

        <div ng-show="noGuides">
          <h3>You don't have any guides yet!</h3>
        </div>

        <div ng-hide="noGuides">
          <h3 class="header">Your Guides:</h3>
          <md-content>
            <guide-card ng-repeat="guide in guides"></guide-card>
          </md-content>
        </div>
      </div>
    </div>

    <div flex="30" layout="column">

      <img class="avatar" ng-src="{{ user.picture }}">
      <div class="user-details">
        <h4>{{ user.name }}</h4>
        <p>{{ user.email }}</p>
      </div>
      <h4 class="sub-header">Learning:</h4>
      <tag-chips selected-tags="selectedTags"></tag-chips>
      <md-button md-no-ink class="md-primary" ng-click="viewLikedResources()">Liked Resources</md-button>
      <h4 class="sub-header">Friends</h4>
      <p ng-click="findFriends(user.id)">See All</p>
      <div layout="row" layout-align="center center" layout-wrap>
        <div class="friend" ng-repeat="friend in friends" layout="column" layout-align="center center"
        ng-click="findFriend(friend.id)" flex="50">
          <img class="avatar" ng-src="{{ friend.picture }}" />
          <p>{{ friend.name }}</p>
        </div>
      </div>
      <div ng-show="suggestedFriends">
        <h4 class="sub-header">Suggested Friends</h4>
        <div layout="row" layout-align="center center" layout-wrap>
          <div class="friend" ng-repeat="suggestion in suggestedFriends" layout="column" layout-align="center center" 
          ng-click="findFriend(suggestion.id)" flex="50">
            <img class="avatar" ng-src="{{ suggestion.picture }}" />
            <p>{{ suggestion.name }}</p>
          </div>
        </div>
      </div>
    </div>

</div>
