    <form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)" ng-cloak layout="column" layout-align="center">

        <alert type="danger" ng-show="error">
            {{ error }}
        </alert>

      <div layout="row" layou-align="center">
        <span flex></span>
        <md-input-container flex="30">
          <label>Email Address</label>
          <input type="text" ng-model="login.email" id="email" required>
        </md-input-container>

        <md-input-container flex="30">
          <label>Password</label>
          <input type="password" ng-model="login.password" id="login-password" required>
        </md-input-container>
        <span flex></span>
      </div>

      <div layout="row" layout-align="center">
        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        <a href="/auth/google"><md-button class="md-raised md-primary">Login with Google!</md-button></a>
        <a href="/auth/github"><md-button class="md-raised md-primary">Login with Github!</md-button> </a>
      </div>

    </form>
