<center><h2 style="font-family: 'Questrial';">Search Users</h2></center>
<center><input ng-model="searchText" class="form-control" id="searchBar"></center>
<br/>
<br/>
<div layout="row" layout-align="center center" layout-wrap>
	<div ng-repeat="user in users | filter:searchText" layout="column" layout-align="center center" flex="25">
		<div class="friend" ng-click="findFriend(user.id)">
			<img class="avatar" src="{{user.picture}}">
			<p style="font-family: 'Montserrat';">{{user.name}}</p>
		</div>
	</div>
</div>
