<div>
  <img class="avatar" src="{{ friend.picture }}">
  <h4>{{ friend.name }}</h4>
  <md-button class="md-raised md-primary" ng-click="follow(friend.id)" ng-show="userFriendsIds.indexOf(friend.id) === -1">Follow {{friend.name}}</md-button>
  <h4>Learning:</h4>
  <md-button class="md-raised md-primary" ng-diabled=true ng-show ="userFriendsIds.indexOf(friend.id) !== -1">You Follow {{friend.name}}</md-button>
  <md-chips ng-repeat="tag in friend.tags">
    <md-chip ng-click="search(tag.id)">{{ tag.title }}</md-chip>
  </md-chips>
  <h4>Guides:</h4>
  <md-content ng-repeat="guide in guides">
    <guide-card></guide-card>
  </md-content>
</div>
