* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  overflow-y: scroll;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

img.avatar{
  width: 150px;
}

#searchBar {
  width: 50%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'search_results/main';
@import 'profile/main';
