#home h1 {
  font-family: 'Questrial'
}

.searchResults {
  font-family: 'Montserrat'
}

.guide {
  font-family: 'Montserrat'
}

.resource {
  font-family: 'Montserrat'
}

.email {
  font-family: 'Questrial';
  font-size: 200%;
}

.password {
  font-family: 'Questrial';
  font-size: 200%;
}

* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  overflow-y: scroll;
}

div:focus {
  outline: 0;
}

h4:focus {
  outline: 0;
}

span:focus {
  outline: 0;
}

md-chips:hover {
  cursor: pointer;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

img.avatar{
  width: 150px;
}

#searchBar {
  width: 50%;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
@import 'search_results/main';
@import 'profile/main';
@import 'friend/main';
@import 'friends/main';
@import 'search_people/main';
@import 'new_guides/main';
@import 'new_resources/main';
